<template>
  <div class="snippet" :title="title">
    <div :class="stageClasses">
      <slot />
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  title: {
    type: String,
    default: '',
  },
  contrast: {
    type: Boolean,
    default: false,
  },
})

const stageClasses = computed(() => {
  console.log('>', props.contrast)
  return {
    'stage': true,
    'stage-contrast': props.contrast,
  }
})
</script>

<style lang="scss" scoped>
.snippet {
  position: relative;
  background: #fff;
  padding: 2rem 5%;
  margin: 1.5rem 0;
  box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
  border-radius: .25rem;
  &:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    content: attr(title);
    font-size: .75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: white;
    background-color: #4C00ED;
    border-radius: .25rem 0 .25rem 0;
  }
  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
    &-contrast {
      filter: contrast(5);
      background-color: white;
    }
  }
}
</style>
