$d: 20px;

.ok-ellipsis {
  &-bouncing {
    position: relative;
    height: $circle-height;
    font-size: 10px;

    &::before {
      content: '🎾';
      display: inline-block;
      position: relative;
      animation: anim-bouncing 1s infinite;
    }
  }
}

@keyframes anim-bouncing {
  0% {
    top: -$d;
    animation-timing-function: ease-in;
  }

  34% {
    transform: scale(1, 1);
  }

  35% {
    top: $d;
    animation-timing-function: ease-out;
    transform: scale(1.5, .5);
  }

  45% {
    transform: scale(1, 1);
  }

  90% {
    top: -$d;
  }

  100% {
    top: -$d;
  }
}
