$spacing: $circle-width + 6px;
$top-pos: $spacing * .5;
$left-pos: -9999px;
$x1: -$left-pos - $top-pos;
$x2: -$left-pos - $top-pos + $spacing;
$y1: 0;
$y2: -$spacing;

.ok-ellipsis {
  &-bricks {
    position: relative;
    top: $top-pos;
    left: $left-pos;

    @include circle;

    box-shadow:
      $x1 $y2 0 0 $circle-before-color,
      $x1 $y1 0 0 $circle-color,
      $x2 $y1 0 0 $circle-after-color;
    animation: anim-bricks 2s infinite ease;
  }
}

@keyframes anim-bricks {
  0% {
    box-shadow:
      $x1 $y2 0 0 $circle-before-color,
      $x1 $y1 0 0 $circle-color,
      $x2 $y1 0 0 $circle-after-color;
  }

  8.333% {
    box-shadow:
      $x2 $y2 0 0 $circle-before-color,
      $x1 $y1 0 0 $circle-color,
      $x2 $y1 0 0 $circle-after-color;
  }

  16.667% {
    box-shadow:
      $x2 $y2 0 0 $circle-before-color,
      $x1 $y2 0 0 $circle-color,
      $x2 $y1 0 0 $circle-after-color;
  }

  25% {
    box-shadow:
      $x2 $y2 0 0 $circle-before-color,
      $x1 $y2 0 0 $circle-color,
      $x1 $y1 0 0 $circle-after-color;
  }

  33.333% {
    box-shadow:
      $x2 $y1 0 0 $circle-before-color,
      $x1 $y2 0 0 $circle-color,
      $x1 $y1 0 0 $circle-after-color;
  }

  41.667% {
    box-shadow:
      $x2 $y1 0 0 $circle-before-color,
      $x2 $y2 0 0 $circle-color,
      $x1 $y1 0 0 $circle-after-color;
  }

  50% {
    box-shadow:
      $x2 $y1 0 0 $circle-before-color,
      $x2 $y2 0 0 $circle-color,
      $x1 $y2 0 0 $circle-after-color;
  }

  58.333% {
    box-shadow:
      $x1 $y1 0 0 $circle-before-color,
      $x2 $y2 0 0 $circle-color,
      $x1 $y2 0 0 $circle-after-color;
  }

  66.666% {
    box-shadow:
      $x1 $y1 0 0 $circle-before-color,
      $x2 $y1 0 0 $circle-color,
      $x1 $y2 0 0 $circle-after-color;
  }

  75% {
    box-shadow:
      $x1 $y1 0 0 $circle-before-color,
      $x2 $y1 0 0 $circle-color,
      $x2 $y2 0 0 $circle-after-color;
  }

  83.333% {
    box-shadow:
      $x1 $y2 0 0 $circle-before-color,
      $x2 $y1 0 0 $circle-color,
      $x2 $y2 0 0 $circle-after-color;
  }

  91.667% {
    box-shadow:
      $x1 $y2 0 0 $circle-before-color,
      $x1 $y1 0 0 $circle-color,
      $x2 $y2 0 0 $circle-after-color;
  }

  100% {
    box-shadow:
      $x1 $y2 0 0 $circle-before-color,
      $x1 $y1 0 0 $circle-color,
      $x2 $y1 0 0 $circle-after-color;
  }
}
