$left-pos: -9999px;
$x1: -$left-pos - $circle-spacing;
$x2: -$left-pos;
$x3: -$left-pos + $circle-spacing;

.ok-ellipsis {
  &-carousel {
    position: relative;
    left: $left-pos;

    @include circle;

    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
    animation: anim-carousel 1.5s infinite linear;
  }
}

@keyframes anim-carousel {
  0% {
    box-shadow:
      $x1 0 0 -1px $circle-before-color,
      $x2 0 0 1px $circle-color,
      $x3 0 0 -1px $circle-after-color;
  }

  50% {
    box-shadow:
      $x3 0 0 -1px $circle-before-color,
      $x1 0 0 -1px $circle-color,
      $x2 0 0 1px $circle-after-color;
  }

  100% {
    box-shadow:
      $x2 0 0 1px $circle-before-color,
      $x3 0 0 -1px $circle-color,
      $x1 0 0 -1px $circle-after-color;
  }
}
