.ok-ellipsis {
  &-collision {
    position: relative;

    @include circle;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -$circle-width;

      @include circle($bg-color: $circle-before-color);

      animation: anim-collision-before 2s infinite ease-in;
    }

    &::after {
      left: $circle-width;

      @include circle($bg-color: $circle-after-color);

      animation: anim-collision-after 2s infinite ease-in;
      animation-delay: 1s;
    }
  }
}

@keyframes anim-collision-before {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-$circle-spacing);
  }
}

@keyframes anim-collision-after {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX($circle-spacing);
  }
}
