.ok-ellipsis {
  &-elastic {
    position: relative;

    @include circle;

    animation: anim-elastic 1s infinite linear;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -$circle-spacing;

      @include circle($bg-color: $circle-before-color);

      animation: anim-elastic-before 1s infinite linear;
    }

    &::after {
      left: $circle-spacing;

      @include circle($bg-color: $circle-after-color);

      animation: anim-elastic-after 1s infinite linear;
    }
  }
}

@keyframes anim-elastic-before {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, .67);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes anim-elastic {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes anim-elastic-after {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, .67);
  }

  75% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}
