$left-pos: -9999px;
$x1: -$left-pos - $circle-spacing;
$x2: -$left-pos;
$x3: -$left-pos + $circle-spacing;

$y1: -$circle-spacing;
$y2: 0;
$y3: $circle-spacing;

$color-0: rgba($circle-color, 0);
$color-1: rgba($circle-color, 1);

$color-before-0: rgba($circle-before-color, 0);
$color-before-1: rgba($circle-before-color, 1);

$color-after-0: rgba($circle-after-color, 0);
$color-after-1: rgba($circle-after-color, 1);

.ok-ellipsis {
  &-falling {
    position: relative;
    left: $left-pos;

    @include circle;

    box-shadow: $x2 0 0 0 $circle-color;
    animation: anim-falling 1s infinite linear;
    animation-delay: .1s;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      @include circle($bg-color: $circle-before-color);

      animation: anim-falling-before 1s infinite linear;
      animation-delay: 0s;
    }

    &::after {
      @include circle($bg-color: $circle-after-color);

      animation: anim-falling-after 1s infinite linear;
      animation-delay: .2s;
    }
  }
}

@keyframes anim-falling {
  0% {
    box-shadow: $x2 $y1 0 0 $color-0;
  }

  25%,
  50%,
  75% {
    box-shadow: $x2 $y2 0 0 $color-1;
  }

  100% {
    box-shadow: $x2 $y3 0 0 $color-0;
  }
}

@keyframes anim-falling-before {
  0% {
    box-shadow: $x1 $y1 0 0 $color-before-0;
  }

  25%,
  50%,
  75% {
    box-shadow: $x1 $y2 0 0 $color-before-1;
  }

  100% {
    box-shadow: $x1 $y3 0 0 $color-before-0;
  }
}

@keyframes anim-falling-after {
  0% {
    box-shadow: $x3 $y1 0 0 $color-after-0;
  }

  25%,
  50%,
  75% {
    box-shadow: $x3 $y2 0 0 $color-after-1;
  }

  100% {
    box-shadow: $x3 $y3 0 0 $color-after-0;
  }
}
