$left-pos: -9999px;
$x1: -$left-pos;
$y1: -1.5 * $circle-spacing;
$y2: -1.5 * $circle-spacing * .25;
$y3: 1.5 * $circle-spacing;

.ok-ellipsis {
  &-fire {
    position: relative;
    left: $left-pos;

    @include circle;

    box-shadow: $x1 $y3 0 -5px $circle-color;
    animation: anim-fire 1.5s infinite linear;
    animation-delay: -.85s;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;

      @include circle;
    }

    &::before {
      box-shadow: $x1 $y3 0 -5px $circle-before-color;
      animation: anim-fire 1.5s infinite linear;
      animation-delay: -1.85s;
    }

    &::after {
      box-shadow: $x1 $y3 0 -5px $circle-after-color;
      animation: anim-fire 1.5s infinite linear;
      animation-delay: -2.85s;
    }
  }
}

@keyframes anim-fire {
  1% {
    box-shadow: $x1 $y3 0 -5px $circle-after-color;
  }

  50% {
    box-shadow: $x1 $y2 0 2px $circle-after-color;
  }

  100% {
    box-shadow: $x1 $y1 0 -5px $circle-after-color;
  }
}
