.ok-ellipsis {
  &-flashing {
    position: relative;

    @include circle;

    animation: anim-flashing 1s infinite linear alternate;
    animation-delay: .5s;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -$circle-spacing;

      @include circle($bg-color: $circle-before-color);

      animation: anim-flashing 1s infinite alternate;
      animation-delay: 0s;
    }

    &::after {
      left: $circle-spacing;

      @include circle($bg-color: $circle-after-color);

      animation: anim-flashing 1s infinite alternate;
      animation-delay: 1s;
    }
  }
}

@keyframes anim-flashing {
  0% {
    background-color: rgba($circle-color, 1);
  }

  50%,
  100% {
    background-color: rgba($circle-color, .2);
  }
}
