$d-max: 50px;
$d-min: 12px;

.ok-ellipsis {
  &-floating {
    position: relative;

    @include circle;

    animation: anim-floating 3s infinite cubic-bezier(.15, .6, .9, .1);

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -$d-min;

      @include circle($bg-color: $circle-before-color);

      animation: anim-floating-before 3s infinite ease-in-out;
    }

    &::after {
      left: -$d-min * 2;

      @include circle($bg-color: $circle-after-color);

      animation: anim-floating-after 3s infinite cubic-bezier(.4, 0, 1, 1);
    }
  }
}

@keyframes anim-floating {
  0% {
    left: calc(-50% - #{$circle-width * .5});
  }

  75% {
    left: calc(50% + #{$d-max * 2 + $circle-width * .5});
  }

  100% {
    left: calc(50% + #{$d-max * 2 + $circle-width * .5});
  }
}

@keyframes anim-floating-before {
  0% {
    left: -$d-max;
  }

  50% {
    left: -$d-min;
  }

  75% {
    left: -$d-max;
  }

  100% {
    left: -$d-max;
  }
}

@keyframes anim-floating-after {
  0% {
    left: -$d-max * 2;
  }

  50% {
    left: -$d-min * 2;
  }

  75% {
    left: -$d-max * 2;
  }

  100% {
    left: -$d-max * 2;
  }
}
