$circle-color-hsl: hsl(0deg, 100%, 0%);

$d: 50px;

.ok-ellipsis {
  &-gathering {
    position: relative;

    @include circle(
      $width: 12px,
      $height: 12px,
      $radius: 6px,
      $bg-color: $circle-color-hsl,
      $color: transparent
    );

    margin: -1px 0;
    filter: blur(2px);

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -$d;

      @include circle(
        $width: 12px,
        $height: 12px,
        $radius: 6px,
        $bg-color: $circle-color-hsl,
        $color: transparent
      );

      opacity: 0;
      filter: blur(2px);
      animation: anim-gathering 2s infinite ease-in;
    }

    &::after {
      animation-delay: .5s;
    }
  }
}

@keyframes anim-gathering {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  35%,
  60% {
    opacity: 1;
    transform: translateX($d);
  }

  100% {
    opacity: 0;
    transform: translateX($d * 2);
  }
}
