// ==============================================
// Mixins
// ==============================================

@mixin circle(
  $width: $circle-width,
  $height: $circle-height,
  $radius: $circle-radius,
  $bg-color: $circle-bg-color,
  $color: $circle-color
) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bg-color;
  color: $color;
}
