$circle-color-hsl: hsl(0deg, 100%, 0%);

.ok-ellipsis {
  &-overtaking {
    position: relative;

    @include circle(
      $width: 12px,
      $height: 12px,
      $radius: 6px,
      $bg-color: transparent,
      $color: $circle-color-hsl
    );

    margin: -1px 0;
    box-shadow: 0 -20px 0 0;
    filter: blur(2px);
    animation: anim-overtaking 2s infinite cubic-bezier(.2, .6, .8, .2);

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;

      @include circle(
        $width: 12px,
        $height: 12px,
        $radius: 6px,
        $bg-color: transparent,
        $color: $circle-color-hsl
      );

      box-shadow: 0 -20px 0 0;
      filter: blur(2px);
    }

    &::before {
      animation: anim-overtaking 2s infinite cubic-bezier(.2, .6, .8, .2);
      animation-delay: .3s;
    }

    &::after {
      animation: anim-overtaking 1.5s infinite cubic-bezier(.2, .6, .8, .2);
      animation-delay: .6s;
    }
  }
}

@keyframes anim-overtaking {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
