$left-pos: -9999px;
$x1: -$left-pos - $circle-spacing;
$x2: -$left-pos;
$x3: -$left-pos + $circle-spacing;

.ok-ellipsis {
  &-pulse {
    position: relative;
    left: $left-pos;

    @include circle;

    box-shadow: $x2 0 0 -5px;
    animation: anim-pulse 1.5s infinite linear;
    animation-delay: .25s;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;

      @include circle;
    }

    &::before {
      box-shadow: $x1 0 0 -5px;
      animation: anim-pulse-before 1.5s infinite linear;
      animation-delay: 0s;
    }

    &::after {
      box-shadow: $x3 0 0 -5px;
      animation: anim-pulse-after 1.5s infinite linear;
      animation-delay: .5s;
    }
  }
}

@keyframes anim-pulse-before {
  0% {
    box-shadow: $x1 0 0 -5px;
  }

  30% {
    box-shadow: $x1 0 0 2px;
  }

  60%,
  100% {
    box-shadow: $x1 0 0 -5px;
  }
}

@keyframes anim-pulse {
  0% {
    box-shadow: $x2 0 0 -5px;
  }

  30% {
    box-shadow: $x2 0 0 2px;
  }

  60%,
  100% {
    box-shadow: $x2 0 0 -5px;
  }
}

@keyframes anim-pulse-after {
  0% {
    box-shadow: $x3 0 0 -5px;
  }

  30% {
    box-shadow: $x3 0 0 2px;
  }

  60%,
  100% {
    box-shadow: $x3 0 0 -5px;
  }
}
