.ok-ellipsis {
  &-revolution {
    position: relative;

    @include circle;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
    }

    &::before {
      left: 0;
      top: -$circle-spacing;

      @include circle($bg-color: $circle-before-color);

      transform-origin: ($circle-width * .5) ($circle-spacing + $circle-width * .5);
      animation: anim-revolution 1.4s linear infinite;
    }

    &::after {
      left: 0;
      top: -$circle-spacing * 2;

      @include circle($bg-color: $circle-after-color);

      transform-origin: ($circle-width * .5) ($circle-spacing * 2 + $circle-width * .5);
      animation: anim-revolution 1s linear infinite;
    }
  }
}

@keyframes anim-revolution {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
