$d: 20px;

.ok-ellipsis {
  &-rolling {
    position: relative;
    height: $circle-height;
    font-size: 10px;

    &::before {
      content: '🎾';
      display: inline-block;
      position: relative;
      transform: translateX(-25px);
      animation: anim-rolling 3s infinite;
    }
  }
}

@keyframes anim-rolling {
  0% {
    transform: translateX(-25px) rotateZ(0deg);
  }

  16.667% {
    transform: translateX(25px) rotateZ(720deg);
  }

  33.333% {
    transform: translateX(-25px) rotateZ(0deg);
  }

  50% {
    transform: translateX(25px) rotateZ(720deg);
  }

  66.667% {
    transform: translateX(-25px) rotateZ(0deg);
  }

  83.333% {
    transform: translateX(25px) rotateZ(720deg);
  }

  100% {
    transform: translateX(-25px) rotateZ(0deg);
  }
}
