$d: 3 * $circle-spacing;
$circle-color-hsl: hsl(0deg, 100%, 0%);

.ok-ellipsis {
  &-shuttle {
    position: relative;
    left: -$circle-spacing;

    @include circle(
      $width: 12px,
      $height: 12px,
      $radius: 6px,
      $bg-color: $circle-color-hsl,
      $color: transparent
    );

    margin: -1px 0;
    filter: blur(2px);

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;

      @include circle(
        $width: 12px,
        $height: 12px,
        $radius: 6px,
        $bg-color: $circle-color-hsl,
        $color: transparent
      );

      filter: blur(2px);
    }

    &::before {
      left: $circle-spacing;
      animation: anim-shuttle 2s infinite ease-out;
    }

    &::after {
      left: 2 * $circle-spacing;
    }
  }
}

@keyframes anim-shuttle {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-$d);
  }

  75% {
    transform: translateX($d);
  }
}
