$ratio1: .8;
$ratio2: .7;

.ok-ellipsis {
  &-stretching {
    position: relative;

    @include circle;

    transform: scale(1.25, 1.25);
    animation: anim-stretching 2s infinite ease-in;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      @include circle($bg-color: $circle-before-color);

      animation: anim-stretching-before 2s infinite ease-in;
    }

    &::after {
      @include circle($bg-color: $circle-after-color);

      animation: anim-stretching-after 2s infinite ease-in;
    }
  }
}

@keyframes anim-stretching {
  0% {
    transform: scale(1.25, 1.25);
  }

  50%,
  60% {
    transform: scale($ratio1, $ratio1);
  }

  100% {
    transform: scale(1.25, 1.25);
  }
}

@keyframes anim-stretching-before {
  0% {
    transform: translate(0) scale($ratio2, $ratio2);
  }

  50%,
  60% {
    transform: translate(-20px) scale(1, 1);
  }

  100% {
    transform: translate(0) scale($ratio2, $ratio2);
  }
}

@keyframes anim-stretching-after {
  0% {
    transform: translate(0) scale($ratio2, $ratio2);
  }

  50%,
  60% {
    transform: translate(20px) scale(1, 1);
  }

  100% {
    transform: translate(0) scale($ratio2, $ratio2);
  }
}
