$left-pos: -9999px;
$x1: -$left-pos - $circle-spacing;
$x2: -$left-pos;
$x3: -$left-pos + $circle-spacing;

.ok-ellipsis {
  &-typing {
    position: relative;
    left: $left-pos;

    @include circle;

    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
    animation: anim-typing 1.5s infinite linear;
  }
}

@keyframes anim-typing {
  0% {
    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
  }

  16.667% {
    box-shadow:
      $x1 -10px 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
  }

  33.333% {
    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
  }

  50% {
    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 -10px 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
  }

  66.667% {
    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
  }

  83.333% {
    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 -10px 0 0 $circle-after-color;
  }

  100% {
    box-shadow:
      $x1 0 0 0 $circle-before-color,
      $x2 0 0 0 $circle-color,
      $x3 0 0 0 $circle-after-color;
  }
}
