// ==============================================
// Variables
// ==============================================

$circle-diameter: 10px !default;
$circle-width: $circle-diameter;
$circle-height: $circle-diameter;
$circle-radius: $circle-width * .5 !default;

$circle-color: #4C00ED !default;
$circle-bg-color: $circle-color !default;
$circle-before-color: $circle-color !default;
$circle-after-color: $circle-color !default;

$circle-spacing: $circle-width + $circle-width * .5 !default;
