$r: 10px;
$origin-x: 5px;
$origin-y: 5px + $r;

.ok-ellipsis {
  &-windmill {
    position: relative;
    top: -$r;

    @include circle;

    transform-origin: $origin-x $origin-y;
    animation: anim-windmill 2s infinite linear;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
    }

    &::before {
      left: -($r * .5 * 1.732508); // √3
      top: $r + $r * .5;

      @include circle($bg-color: $circle-before-color);
    }

    &::after {
      left: $r * .5 * 1.732508; // √3
      top: $r + $r * .5;

      @include circle($bg-color: $circle-after-color);
    }
  }
}

@keyframes anim-windmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}
