<template>
  <div :class="classes" />
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  flavour: {
    type: String,
    default: 'elastic',
      validator: (value) =>
    [
      'elastic',
      'pulse',
      'flashing',
      'collision',
      'revolution',
      'carousel',
      'typing',
      'windmill',
      'bricks',
      'floating',
      'fire',
      'spin',
      'falling',
      'stretching',
      'gathering',
      'hourglass',
      'overtaking',
      'shuttle',
      'bouncing',
      'rolling',
    ].includes(value),
  },
})

const classes = computed(() => {
  return {
    'ok-ellipsis': true,
    [`ok-ellipsis-${props.flavour}`]: true,
  }
})
</script>
